@model ViewModel.EmployeeViewModel
    
@{
    Layout = "~/Views/Shared/_LayoutWithModel.cshtml";
}

@section Title {
    Employee Detail
}
    
@section ContentBody {
    <div>
        <h3>Hello, @Model.UserName</h3>
        <h4>Employee Name: @Model.EmployeeName</h4>

        <span style="background-color: @Model.SalaryColor">Employee Salary: @Model.Salary</span>
    </div>
}